.hero,
footer{
    /* background-color: #1f2937; */
}

.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}

nav ul {
    border: 2px solid red;
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    margin: 8px 100px 0px auto;  
}

nav li{
    margin: 8px 25px 0px auto;  
}

nav ul li a{
    /* color: #e5e7eb;*/
}


.logo{
    display: flex;
    margin: 8px auto 8px 50px;
}
.section{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    width: auto;
    height: 400px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 10px;
    border: 2px solid red;
    margin-left: 50px;
}

h3{
    font-size: 48px;
    font-weight: 900;
    /* color: #f9faf8; */
    margin-bottom: -8px;
}

sub{
    font-size: 18px;
    /* color: #e5e7eb; */
}

button{
    background-color: #3882f6;
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    margin-right: 100px;
}

.random{
    border: 2px solid red;
    
}
h1{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    border: 2px solid red;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    height: 400px;
    width: auto;
    border: 2px solid red;
}

.box{
    max-width: 200px;
}

.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.content img{
    border: 2px solid blue;
    border-radius: 15px;
}

.quote{
   /*  background-color: #e5e7eb; */
    border: 2px solid red;
    padding: 85px 50px;
    width: auto;
    text-align: center;

}

.quote q{
    font-size: 36px;
    font-style: italic;  
}

.quote h5{
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
    margin-bottom: -10px;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: auto;
    height: 340px;
}

.box2{
   /* background-color: #3882f6; */
   /* color: white; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid red;
    height: 150px;
    width: 750px;
    padding: 10px 50px;
}

.button2{
    color: white;
    padding: 20px 20px;
    border-radius: 8px;
    border: 2px solid white;
    cursor: pointer;
    border: white;
    margin-left: auto;
    margin-top: -45px;

}

h4{
    font-size: 26px;
    margin-bottom: -.5px;
}

.box2 sub{
    font-size: 18px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;

    border: 2px solid red;
    width: auto;
    height: 85px;
}


